@model PrinterToner.Models.Owner

@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje Postojećeg Vlasnika</h2>

<h3>Da li ste sigurni?</h3>
<div>
    <h4> </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Vlasnik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerTelephone)
        </dd>

        <dt>
            Adresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerAddress)
        </dd>

        <dt>
            Kontakt Osoba
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerContact)
        </dd>

        <dt>
            Telefon Kontakt Osobe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerContactTelephone)
        </dd>

        <dt>
            PIB
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerPIB)
        </dd>

        <dt>
            Matični Broj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerMatBroj)
        </dd>

        <dt>
            Firma Je u PDV-u
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerIsInPDV)
        </dd>

        <dt>
            Kreirano
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
